<% @life_expectancy.each do |expect| %>

<h2><%= expect.community_area_name %></h2>
<p>Life Expectancy (1990): <%= expect.life_expectancy_1990 %></p>
<p>Life Expectancy (2000): <%= expect.life_expectancy_2000 %></p>
<p>Life Expectancy (2010): <%= expect.life_expectancy_2010 %></p>

<% end %>