<table class="table tile">
<thead>
<tr>
<th>Community Area ID</th>
<th>Community Area Name</th>
</tr>
</thead>
<tbody>

<% @communities.each do |community| %>
<tr>
<td><%= community["community_area"] %></td>
<td><%= community["community_area_name"] %></td>
</tr>
<% end %>

</tbody>